html, body {
    height: 100%;
    margin-top: 30px;
}

body {
    display: flexbox;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #ecf0f1;
    font-family: 'Overpass', sans-serif;
}

.heading {
    margin-bottom: 20px;
}

.heading h6 {
    text-align: center;
    /* font-weight: 900; */
}

.logo {
    width: auto;
    height: 150px;
    display: flex;
    margin: auto;
}

h3 {
    text-align: center;
}

.loginForm {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;   
}

/* .loginForm h3 {
    font-weight: 100;
} */

#userName {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

#password {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

hr {
    width: 50%;
}

.register p {
    text-align: center;
    margin-bottom: 10px;
    /* font-weight: 100; */
}

.registerBtns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.registerBtn {
    margin: 0 5px 0 5px;
    justify-content: center;
}

/* * {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: rgba(128, 128, 128, 0.3);
    overflow: auto;
}

/*div {border: dashed;} */

/* .personalInfo, .questions, h2 {
    margin-left: 200px;
    margin-right: 200px;
}

.personalInfo {
    margin-bottom: 20px;
}

.heading {
    margin: 0;
    padding: 10px;
    background-color: rgb(111, 191, 244);
    text-align: center;
}

.myInfo {
    float: left;

    margin-left: 30px;
    margin-bottom: 15px;
}

.myInfo input {
    width: 400px;
}

label, select {
    margin-left: 30px;
}

select {
    width: 400px;
}

.pic {
    float: right;
}

img {
    display: block;
    height: 220px;
    width: 220px;
}

.questions {
    clear: both;
}

.button {
    margin: auto 200px;
}

.button button {
    margin: 10px 0 10px 600px;
    padding-left: 50px;
    padding-right: 50px;
}

h1 {
    font-family: 'Fredericka the Great', cursive;
}

h2, label, button, input {
    font-family: 'Marcellus SC', serif;
}

h3 {
    font-family: 'Merienda One', cursive;
}

footer {
    background-color: rgb(111, 191, 244);
    padding: 20px;
}

ul {
    margin-left: 180px;
} */ 